.navContainer {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   z-index: 1000;
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding: 1rem;

   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  border: 2px solid #888;
  padding: 6px 10px;
  border-radius: 5px;
  color: aqua;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}

.navLinkActive {
  border: 2px solid black;
  font-weight: bold;
  color: black;
  background-color: #e0e0e0;
}