.projectImage {
   width: 200px; /* Set uniform width */
   height: 200px; /* Set uniform height */
   object-fit: cover; /* Ensures images fill the space without distortion */
   border-radius: 12px; /* Optional: adds rounded corners */
   display: block; /* Ensures no unwanted spacing */
}

.projectTitle {
   text-align: left;
   margin: 0.5rem 0;
}

.projectDefinition {
   text-align: left;
   margin: 0.5rem 0;
}

.fade-appear {
   opacity: 0;
}

.fade-appear-active {
   opacity: 1;
   transition: opacity 300ms;
}

.fade-exit {
   opacity: 1;
}

.fade-exit-active {
   opacity: 0;
   transition: opacity 300ms;
}

@keyframes fadeInOut {
   0% {
      opacity: 0;
   }
   20% {
      opacity: 1;
   }
   80% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

.fadeAnimation {
   animation: fadeInOut 3s ease-in-out;
}
